<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <%- include head %>
</head>
<body>
<!-- 头像部分-->
<section class="L_section">
    <img class="L_head_img" src="/images/logo.png">
</section>
<script type="text/javascript" src="/javascripts/jquery-1.7.2.js"></script>
<script>
    $(function () {
        $('#login_btn').click(function () {
            var account=$('#l_account').val();//获取输入框account的内容
            var accountPatt=/^\w{5,12}$/;//创建正则表达式对象,5-12个字符
            if(!accountPatt.test(account)){//使用test方法验证
                $('span.accountMsg').text("账号不合法！");
                return false;
            }
        })
    })
</script>
<form action="/users/login" method="post">
    <div class="L_form_div">
        <div class="L_account_div">
            <span>输入账号</span>
            <input class="" type="text" name="account" id="l_account"><span class="accountMsg" style="color: red"></span><br>
        </div>
        <div>
            <span>输入昵称</span>
            <input class="" type="text" name="name" id="l_account"><br>
        </div>
        <div style="border-top: 1px solid #cccccc ">
            <span>输入密码</span>
            <input class="" type="password" name="password" id="l_password"><br>
        </div>
        <div class="Login_btn_div">
            <input id="login_btn" type="submit" value="登录">
        </div>
    </div>
</form>
<div class="a_style">
    没帐号，<a href="/regist">请先注册</a>
</div>
</section>
</body>
</html>
