<!DOCTYPE html>
<html>
<head>
    <title>注册页面</title>
    <%- include head %>
</head>
<body>
<!--第二部分-->
<section class="L_section">
    <img class="L_head_img" src="/images/logo.png">
</section>
<!--第三部分-->
<!--第三部分-->
<script type="text/javascript" src="/javascripts/jquery-1.7.2.js"></script>
<script>
    $(function () {
        $('#login_btn').click(function () {
            var account=$('#l_account').val();//获取输入框account的内容
            var accountPatt=/^\w{5,12}$/;//创建正则表达式对象,5-12个字符
            if(!accountPatt.test(account)){//使用test方法验证
                $('span.accountMsg').text("账号不合法！");
                return false;
            }
            var password=$('#l_password').val();
            var password2=$('#l_password2').val();
            if(password!=password2){
                $('span.pwd2Msg').text("密码和确认密码不一致！");
                return false;
            }
        })
    })
</script>
<form action="/users/regist" method="post">
    <div class="L_form_div" style="height: 200px">
        <div class="L_account_div">
            <span>输入账号</span>
            <input type="text" name="account" id="l_account"><span class="accountMsg" style="color: red"></span><br>
        </div>
        <div class="L_name_div">
            <span>输入昵称</span>
            <input type="text" name="name" id="l_account"><br>
        </div>
        <div style="border-top: 1px solid #cccccc ">
            <span>输入密码</span>
            <input type="password" name="password" id="l_password"><br>
        </div>
        <div class="L_password_div" style="border-top: 1px solid #cccccc ">
            <span>确认密码</span>
            <input type="password" name="password2" id="l_password2"><span class="pwd2Msg" style="color: red"></span><br>
        </div>
        <div class="Login_btn_div">
            <input id="login_btn" type="submit" value="注册">
        </div>
    </div>
</form>
<div class="a_style">
    已有帐号，<a href="/login">立即登录</a>
</div>
</section>
</body>
</html>
