body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
a {
  color: #03a9f4;
  text-decoration: none;
}
/* 登录、注册样式*/
.L_section{
  text-align: center;
}
.L_head_img{
  margin-top: 75px;
}
.L_form_div{
  background: white;
  width:50%;
  margin:0 auto;
  border:1px solid #cccccc;
  border-radius: 5px;
  height: 150px;
  margin-top: 30px;
}
.L_form_div div span{
  font-size: 20px;
  padding-left: 15px;
  line-height: 50px;
}
.L_account_div{
  height: 50px;
  border-bottom: 1px solid #cccccc;
}
input{
  outline: medium;
  background-color: transparent;
  border:0;
}
.Login_btn_div{
  height:50px;
  background: rgb(36,92,161);
  width: 90%;
  border-radius: 10px;
  margin:20px auto;
  text-align: center;
  margin-top: 5px;
}
.Login_btn_div input{
  line-height: 50px;
  font-size:20px;
  color:white;
}
.a_style {
  text-align: center;
  margin-top: 85px;
}
.a_style a{
  text-decoration: none;
}
/* 顶部 Bar */
.bar {
  height: 50px;
  width: 100%;
  background-color: #03a9f4;
  line-height: 50px;
  text-align: right;
  color: white;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 16px;
}
.bar a {
  padding-left: 15px;
  color: #fff;
}
.bar a:hover {
  font-weight: bold;
}
.bar>span {
  animation: user 4s linear infinite;
  display: inline-block;
}
@keyframes user {
  from {transform: rotate(0);}
  to { transform: rotate(360deg);}
}
.bar .home {
  float: left;
  height: 50px;
  width: 50px;
  overflow: hidden;
  /* background: url(/images/home.png) no-repeat 40px 40px / 0 0; */
}
.bar .home img {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: -20px;
}
/*搜索框样式*/
.select{
  /*background-color:rgb(244,244,246);*/
  background: url("../images/banner.jpg") no-repeat;
  background-size: cover;
  height:100px;
}
.select input[type='text'] {
  margin-top: 25px;
  margin-left: 100px;
  width: 65%;
  height: 35px;
  line-height: 35px;
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  box-sizing: border-box;
  padding: 0 10px;
}
.select input[type='submit'] {
  height: 35px;
  width: 80px;
  font-size: 16px;
  border: 0;
  background-color: #03a9f4;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.select input[type='submit']:hover {
  box-shadow: 0px 0px 5px #03a9f4;
}


/* 文章列表 */
.list {
  width: 85%;
  margin: 10px auto;
}
.list>div.row {
  height: 50px;
  width: 100%;
  overflow: hidden;
  line-height: 50px;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  font-size: 16px;
}
.list>div.row:hover {
  background: rgba(245,245,245, 1);
}
.list>.row>span:nth-child(1) {
  display: inline-block;
  width: 10%;
  float: left;
}
.list>.row>span:nth-child(2) {
  display: inline-block;
  width: 10%;
  float: left;
}
.list>.row>span:nth-child(3) {
  display: inline-block;
  width: 30%;
  float: left;
}
.list>.row>span:nth-child(4) {
  display: inline-block;
  width: 30%;
  float: left;
}
.list>.row>span:nth-child(5) {
  display: inline-block;
  width: 30%;
  float: left;
}
.list>.row>span:nth-child(5) {
  display: inline-block;
  width: 20%;
  float: left;
  text-align: right;
}
.list>.row>span:nth-child(5) a {
  display: inline-block;
  margin-left: 5px;
}
.list>.row>span:nth-child(5) a:hover {
  font-weight: bold;
}

.list>.pages {
  text-align: right;
  line-height: 50px;
}
.list>.pages a {
  display: inline-block;
  padding: 0 3px;
  font-size: 16px;
  text-align: center;
}
.list>.pages a:hover {
  font-weight: bold;
}


/* 写文章 */
.article {
  width: 80%;
  margin: 35px auto;
  overflow: hidden;
}
.article input[type='text'] {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 20px;
}
.article textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
}
.article input[type='submit'] {
  margin-top: 20px;
  height: 35px;
  width: 80px;
  font-size: 16px;
  border: 0;
  background-color: #03a9f4;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.article input[type='submit']:hover {
  box-shadow: 0px 0px 5px #03a9f4;
}


/* 文章详情 */
.detail {
  width: 80%;
  margin: 35px auto;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px #d9d9d9 solid;
  padding-bottom: 50px;
}
.detail .title {
  font-size: 20px;
  font-weight: bold;
}
.detail .desc {
  font-size: 14px;
  color: #666;
  line-height: 60px;
  height: 60px;
  overflow: hidden;
}
.detail .desc span {
  display: inline-block;
  margin-right: 20px;
}
/*footer样式*/
.DS_footer a{
  display: table-cell;
  width:20%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
footer{
  display: table;
  width:100%;
  height: 30px;
  background:rgb(244,244,246);
  left:0;
  bottom:40px;
  position: fixed;
}
footer a span{
  display:block;
  front-size:12px;
  color:black;
  text-align: center;
}